<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <!-- css reset -->
    <link rel="stylesheet" href="style/reset.css">
    <!-- local style -->
    <link rel="stylesheet"
     href="style/style.css">
    <title>Aly Doerscher</title>
  </head>
  <body>
    {{{ body }}}
  </body>
</html>
