<div class="nav" id="about-nav">
  <ul>
    <a href="/"><li>home</li></a>
    <a href="/work"><li>work</li></a>
  </ul>
</div>
<div class="greeting" id="aboutGreeting">
  <h1 class="big-title">Hi, I'm Aly</h1>
  <h3 class="medium-title dark-teal">Let's solve problems<br />beautifully</h3>
  <p class="about tracking-kerning">
    I’m a frontend developer with a background in art and design. I received a BFA from the Rhode Island School of Design and spent a year in the Master of Architecture program at the University of Michigan. I started programming while in architecture school and quickly discovered it was my perfect medium. I left architecture and have never looked back. I love mixing logic with aesthetics to create elegant and dynamic sites. In my free time I relax with podcasts and a purring cat.
  </p>
</div>
<ul class="home-links">
  <a href="mailto:doerschera@gmail.com?Subject=Hello"><li>talk</li></a>
  <a href="https://www.linkedin.com/in/aly-doerscher-90a24510b"><li>connect</li></a>
  <a href="https://github.com/doerschera"><li>code</li></a>
</ul>
