<div class="greeting">
  <h1 class="big-title">Aly Doerscher</h1>
  <h3 class="medium-title dark-teal">Frontend Developer</h3>
  <h4 class="small-title medium-teal">adding form and function to the web</h4>
</div>
<ul class="home-links">
  <a href="/work"><li>work</li></a>
  <a href="/about"><li>about</li></a>
</ul>
