<div class="nav">
  <ul>
    <a href="/"><li>home</li></a>
    <a href="/about"><li>about</li></a>
  </ul>
</div>
<div class="viewer">
  <video src="style/videos/RISDTour1.mp4" width="100%" height="80%" autoplay loop></video>
</div>
<div class="project-info">
  <h3 class="medium-title dark-teal">RISD Tour</h3>
  <h4 class="small-title medium-teal">React &#x25cf; Google Maps &#x25cf; JS &#x25cf; SASS</h4>
  <p class="description tracking-kerning">
    This app is a web-based tour for prospective students who are unable to visit RISD in person. It provides a tour of campus with information about the different departments and spaces within each building. Students can also get insight into RISD student life and academics with links back to the main site for more details.
  </p>
  <ul class="project-links">
    <a href="/work"><li>code</li></a>
    <a href="/about"><li>site</li></a>
  </ul>
  <div class="arrow" id="rightArrow">
    &rang;
  </div>
  <div class="arrow" id="leftArrow">
    &lang;
  </div>
</div>
